nav {

    .linkNav {
        text-decoration-color: #66ff66;
    }

    .linkNav:hover {
        text-decoration: none;
    }

    .bgHover:hover {
        box-shadow: 1px 1px 1px black;
    }

    .userLink {
        cursor: pointer;
    }

    .userImg {
        width: 35px;
        height: 35px;
        border-radius: 17px;
    }
}

@media only screen and (min-width: 300px) {
    nav {
        .cart-badge {
            font-size: 1rem;
            text-align: center;
            color: white;
        }
    }
}

@media only screen and (min-width: 400px) {
    nav {
        .a_img {
            width: 40%;

            .logo {
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width: 550px) {
    nav {
        .a_img {
            width: 25%;
        }
    }
}

@media only screen and (min-width: 700px) {
    nav {
        .a_img {
            width: 20%;

            .logo {
                width: 82%;
            }
        }
    }
}

@media only screen and (min-width: 970px) {
    nav {
        .a_img {
            width: 30%;
        }
    }
}